.wallet-list {
	margin-top: 32px;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
	grid-gap: 24px;

	@media screen and (max-width: 834px) {
		grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
	}

	@media screen and (max-width: 430px) {
		grid-template-columns: 1fr;
	}
}