.auth-form {
	max-width: 480px;
	width: 100%;
	padding: 48px;
	border: 1px solid #000;
	border-radius: 4px;
	box-shadow: #FFF 4px 4px 0 0, #000 4px 4px 0 1px;


	@media screen and (max-width: 834px) {
		padding: 24px;
	}
}